:root {
  font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
}

section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0px;
}

section.section-1 {
  color: #12263f;
  background-color: #f5f7fa;
}

section.section-2 {
  color: #12263f;
  background-color: #e4e9ee;
}

section.section-3 {
  color: #edf1f5;
  background-color: #212122;
}

section.section-4 {
  color: #edf1f5;
  background-color: #E1011C;
}

section > div {
  max-width: 1280px;
  display: flex;
  align-items: center;
}

@media (max-width: 1280px) {
  section > div {
    padding: 0px 24px;
  }
}

section > div > div {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 24px;
  line-height: 1.1;
  font-weight: 700;
  margin: 12px 0px;
}

h2 {
  font-size: 36px;
  line-height: 1.1;
  font-weight: 700;
  margin: 24px 0px;
}

h3 {
  font-size: 28px;
  line-height: 1.1;
  font-weight: 600;
  margin: 20px 0px;
}

h4 {
  font-size: 24px;
  line-height: 1.1;
  font-weight: 600;
  margin: 12px 0px;
}

p {
  font-size: 20px;
  font-weight: 400;
  margin: 12px 0px;
}

li {
  font-size: 20px;
  font-weight: 400;
  margin: 18px 0px;
  list-style-position: outside;
}

li.check {
  display: block;
  list-style: none;
  list-style-position: inside;
  position: relative;
  padding-left: 1.5em;
}

li.gift {
  display: block;
  list-style: none;
  list-style-position: outside;
  position: relative;
  padding-left: 1.75em;
}

li.check::before {
  content: '';
	position: absolute;
	left: 0;
	top: 4px;
	width: 1em;
	height: 1em;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0ndHJ1ZScgZm9jdXNhYmxlPSdmYWxzZScgZGF0YS1wcmVmaXg9J2Zhcycgcm9sZT0naW1nJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJz48cGF0aCBmaWxsPScjMmNkMTU2JyBkPSdNNTA0IDI1NmMwIDEzNi45NjctMTExLjAzMyAyNDgtMjQ4IDI0OFM4IDM5Mi45NjcgOCAyNTYgMTE5LjAzMyA4IDI1NiA4czI0OCAxMTEuMDMzIDI0OCAyNDh6TTIyNy4zMTQgMzg3LjMxNGwxODQtMTg0YzYuMjQ4LTYuMjQ4IDYuMjQ4LTE2LjM3OSAwLTIyLjYyN2wtMjIuNjI3LTIyLjYyN2MtNi4yNDgtNi4yNDktMTYuMzc5LTYuMjQ5LTIyLjYyOCAwTDIxNiAzMDguMTE4bC03MC4wNTktNzAuMDU5Yy02LjI0OC02LjI0OC0xNi4zNzktNi4yNDgtMjIuNjI4IDBsLTIyLjYyNyAyMi42MjdjLTYuMjQ4IDYuMjQ4LTYuMjQ4IDE2LjM3OSAwIDIyLjYyN2wxMDQgMTA0YzYuMjQ5IDYuMjQ5IDE2LjM3OSA2LjI0OSAyMi42MjguMDAxeic+PC9wYXRoPjwvc3ZnPg==");
}

li.gift::before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 1.25em;
  height: 1.25em;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSdub25lJyBkPSJNMjAwIDE0NGg0MHYtNDBhNDAgNDAgMCAxMC00MCA0MHpNMzUyIDEwNGE0MCA0MCAwIDAwLTgwIDB2NDBoNDBhNDAgNDAgMCAwMDQwLTQweiI+PC9wYXRoPjxwYXRoIGZpbGw9JyMyY2QxNTYnIGQ9Ik04MCA0MTZhNjQgNjQgMCAwMDY0IDY0aDkyYTQgNCAwIDAwNC00VjI5MmE0IDQgMCAwMC00LTRIODhhOCA4IDAgMDAtOCA4ek0yNDAgMjUyVjE0NGgzMnYxMDhhNCA0IDAgMDA0IDRoMTQwYTQ3LjkzIDQ3LjkzIDAgMDAxNi0yLjc1QTQ4LjA5IDQ4LjA5IDAgMDA0NjQgMjA4di0xNmE0OCA0OCAwIDAwLTQ4LTQ4aC00MC41NGEyIDIgMCAwMS0xLjctM0E3MiA3MiAwIDAwMjU2IDU4LjgyIDcyIDcyIDAgMDAxMzguMjQgMTQxYTIgMiAwIDAxLTEuNyAzSDk2YTQ4IDQ4IDAgMDAtNDggNDh2MTZhNDguMDkgNDguMDkgMCAwMDMyIDQ1LjI1QTQ3LjkzIDQ3LjkzIDAgMDA5NiAyNTZoMTQwYTQgNCAwIDAwNC00em0zMi0xNDhhNDAgNDAgMCAxMTQwIDQwaC00MHptLTc0Ljg2LTM5LjlBNDAgNDAgMCAwMTI0MCAxMDR2NDBoLTQwYTQwIDQwIDAgMDEtMi44Ni03OS44OXpNMjc2IDQ4MGg5MmE2NCA2NCAwIDAwNjQtNjRWMjk2YTggOCAwIDAwLTgtOEgyNzZhNCA0IDAgMDAtNCA0djE4NGE0IDQgMCAwMDQgNHoiPjwvcGF0aD48L3N2Zz4=");
}

ul {
  margin-top: 20px;
  margin-bottom: 20px;
  list-style-position: inside;
  padding-left: 0px;
}

ul.left-pad {
  padding-left: 20px;
}

blockquote {
  border: 1px solid #EBE9E3;
  border-left: 10px solid #EBE9E3;
  margin: 0px 8px 0px;
  padding: 25px 30px 25px 60px;
  background-color: white;
  background: #fff url(http://www.guiadasfinancas.com.br/wp-content/uploads/2016/05/Aspas.png) no-repeat;
}

a {
  color: #E1011C;
}
a:visited {
  color: #E1011C;
}

.goto-button {
  width: 80%;
  border-radius: 8px;
  border: 0 solid transparent;
  padding: 16px 24px;
  margin: 36px 0px 24px 0px;
  font-size: 20px;
  font-weight: 700;
  font-family: inherit;
  color: #f5f7fa;
  background-color: #df4e5f;
  align-self: center;
  cursor: pointer;
  transition: filter 0.25s, transform 0.25s;
  will-change: filter;
  box-shadow: 0 1px 3px hsl(0 0% 0% / .2);
  text-decoration: inherit;
}
.goto-button:hover {
  filter: drop-shadow(0 0 5px #df4e5f);
  transform: scale3d(1.048, 1.048, 1.048);
}
.goto-button:focus,
.goto-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.goto-button-dark {
  background-color: #E1011C;
} 

.checkout-button {
  border-radius: 8px;
  border: 0 solid transparent;
  padding: 16px 24px;
  margin: 36px 0px 24px 0px;
  font-size: 20px;
  font-weight: 700;
  font-family: inherit;
  color: #f5f7fa;
  background-color: #E1011C;
  align-self: center;
  cursor: pointer;
  transition: filter 0.25s, transform 0.25s;
  will-change: filter;
  box-shadow: 0 1px 3px hsl(0 0% 0% / .2);
  text-decoration: inherit;
}
.checkout-button:visited {
  color: #f5f7fa;
}
.checkout-button:hover {
  filter: drop-shadow(0 0 5px #df4e5f);
  transform: scale3d(1.048, 1.048, 1.048);
}
.checkout-button:focus,
.checkout-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.checkout {
  width: 450px;
  margin: 0 32px;
  padding: 24px;
  background-color: #f5f7fa;
  border-radius: 8px;
  box-shadow: 0 10px 15px -3px hsl(0 0% 0% / .2);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .checkout {
    width: 100%;
    margin: 32px 0;
  }
}

.checkout-name {
  width: 90%;
  height: 96px;
  flex-shrink: 0;
  font-weight: 700;
  font-size: 24px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: filter;
  transition: filter 0.25s;
  text-align: center;
}

.checkout-name-best {
  width: 90%;
  height: 96px;
  flex-shrink: 0;
  font-weight: 700;
  font-size: 24px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: filter;
  transition: filter 0.25s;
  color: #f5f7fa;
  background-color: #2cd156;
  text-align: center;
}


.red {
  color: #E1011C;
}

.cyan {
  color: #4cac9d;
}

.orange {
  color: #f58523;
}

.gold {
  color: #c9b469;
}

.line-through {
  text-decoration: line-through;
}

.red-underline {
  text-decoration: underline solid #E1011C 5px;
}

.gold-underline {
  text-decoration: underline solid #c9b469 5px;
}

.green {
  color: #2cd156;
}

div.divider {
  background-color: #b9bcc0;
  width: 100%;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 36px;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: start;
}

.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.text-center {
  align-self: center;
  text-align: center;
}

.text-right {
  text-align: right;
}


.text-20px {
  font-size: 20px;
}
.text-24px {
  font-size: 24px;
}
.text-36px {
  font-size: 36px;
}
.text-48px {
  font-size: 48px;
}


.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 0.5;
}

.flex-3 {
  flex: 0.25;
}

.bold {
  font-weight: 600;
}

.extrabold {
  font-weight: 900;
}

.m-0 {
  margin: 0;
}

.mh-6 {
  margin-left: 24px;
  margin-right: 24px;
}

.mv-6 {
  margin-top: 24px;
  margin-bottom: 24px;
}

@media (min-width: 900px) {
  .lg-mh-6 {
    margin-left: 24px;
    margin-right: 24px;
  }
}

.gap-1 {
  gap: 32px;
}

.hv-responsive {
  flex-direction: row;
}

@media (max-width: 900px) {
  .hv-responsive {
    flex-direction: column;
  }
}

.side-image-responsive {
  flex-direction: row;
}

@media (max-width: 900px) {
  .side-image-responsive {
    flex-direction: column;
  }
}

.side-image-responsive-rev {
  flex-direction: row;
}

@media (max-width: 900px) {
  .side-image-responsive-rev {
    flex-direction: column-reverse;
  }
}

.book-cape {
  width: 360px;
  margin-left: 24px;
}

@media (max-width: 900px) {
  .book-cape {
    width: 90%;
    margin-left: 0;
    max-width: 300px;
    margin-bottom: 24px;
  }
}

.feature-card {
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
  padding: 24px;
  background-color: #e9edf1;
  border-radius: 12px;
}

@media (max-width: 900px) {
  .feature-card {
    width: 100%;
  }
}

.benefits-card {
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 24px;
  background-color: #e9edf1;
  border-radius: 12px;
}

.price-card-container {
  display: flex;
  width: 100%;
  max-width: 1024px;
  gap: 32px;
  align-items: start;
  flex-direction: row;
}

@media (max-width: 900px) {
  .price-card-container {
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
  }
}

.price-card {
  display: flex;
  flex-direction: column;
  background-color: #E1011C;
  color: #edf1f5;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  padding: 24px 0px;
}

.feature-image {
  width: 360px;
  margin-right: 64px;
}

@media (max-width: 900px) {
  .feature-image {
    width: 90%;
    margin-right: 0;
  }
}

.bonus-title {
  margin-top: 56px;
  width: 100%;
  align-items: center;
  max-width: 600px;
}

.warranty {
  width: 250px;
  margin-right: 80px;
}

@media (max-width: 900px) {
  .warranty {
    margin-right: 0;
  }
}

.beneficios-image {
  width: 812px;
  margin-bottom: 24px;
}

@media (max-width: 812px) {
  .beneficios-image {
    width: 100%;
  }
}
